.aboutContainer{
    /* border: 2px solid red; */
    /* background-color: rgb(235, 235, 235); */
    /* background-image: linear-gradient(to right, rgb(206, 241, 255), white, white); */
    background-color: lightcyan;

    display: flex;
    padding-top: 50px;
}

.aboutTitle{
    /* border: 2px solid blue; */
    width: 40%;
    text-align: end;
    padding: 40px;
    font-size: 40px;
}

.aboutText{
    /* border: 2px solid green; */
    width: 60%;
    padding: 35px 140px 40px 40px;
    font-size: 21px;
    /* color: rgb(48, 48, 48); */
    color: black;
}

.aboutFlag{
    height: 20px;
    padding-top: 2px;
}

@media only screen and (max-width: 600px) {

    .aboutContainer{
        flex-direction: column;
    }

    .aboutTitle{
        width: 100%;
        text-align: start;
        padding: 20px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .aboutText{
        width: 100%;
        padding: 30px 40px 30px 20px;
    }
}