.aboutContainer {
  background-color: rgb(238, 255, 255);
  display: flex;
  padding-top: 50px;
}

.aboutTitle {
    /* border: 2px solid red; */
  font-size: 50px;
  display: inline-block;

  background: linear-gradient(to right, #1b56d6 0%, #c6a8ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#aboutTitleContainer {
    /* border: 2px solid red; */

  width: 40%;
  text-align: end;
  padding: 40px;
}

.aboutText {
  width: 60%;
  padding: 35px 20% 40px 40px;
  font-size: 21px;
  color: black;
}

#aboutLink{
    /* text-decoration-style: none; */
    color: rgb(76, 87, 180);
    text-decoration: none;
}

.aboutFlag {
  height: 20px;
  padding-top: 2px;
}

@media only screen and (max-width: 600px) {
  .aboutContainer {
    flex-direction: column;
  }

  #aboutTitleContainer {
    width: 100%;
    text-align: start;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .aboutText {
    width: 100%;
    padding: 30px 40px 30px 20px;
  }
}
