.aboutContainer{
    /* border: 2px solid red; */
    background-color: azure;
    display: flex;
    padding-top: 50px;
}

.aboutTitle{
    /* border: 2px solid blue; */
    width: 40%;
    text-align: end;
    padding: 40px;
    font-size: 40px;
}

.aboutText{
    /* border: 2px solid green; */
    width: 60%;
    padding: 35px 140px 40px 40px;
    font-size: 21px;
    /* color: rgb(48, 48, 48); */
    color: black;
}

.aboutFlag{
    height: 20px;
    padding-top: 2px;
}