.contactContainer{
    /* border: 2px solid red; */
    text-align: center;
    background-color: #262c3d;
}

.contactTextContainer{
    /* border: 2px solid blue; */
    display: inline-block;
}

.contactContainerTop{
    /* border: 2px solid blue; */
    margin: 50px 0 35px 0;
    font-size: 21px;
    /* color: white; */

}

.contactContainerBot{
    /* border: 2px solid blue; */
    float: left;
    margin-bottom: 50px;
}

.contactLink{
    margin-right: 50px;
    color: white;
    text-decoration: none;
}

#mailText{
    float: left;
    color: white;
    font-size: 15px;
}

#mailLink{
    color: rgb(77, 147, 238);
    font-size: 20px;
    text-decoration: none;
}