.contactContainer{
    /* border: 2px solid red; */
    text-align: center;
    background-color: #262c3d;
}

.contactTextContainer{
    /* border: 2px solid blue; */
    display: inline-block;
}

.contactContainerTop{
    /* border: 2px solid blue; */
    margin: 50px 0 35px 0;
    font-size: 21px;
    /* color: white; */
    display: flex;
    /* flex-wrap: wrap; */

}

.contactContainerBot{
    /* border: 2px solid blue; */
    float: left;
    margin-bottom: 50px;
}

.contactLink{
    margin-right: 50px;
    color: white;
    text-decoration: none;
}

#mailText{
    float: left;
    color: white;
    font-size: 15px;
}

#mailLink{
    color: rgb(77, 147, 238);
    font-size: 20px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    .contactContainer{
        /* border: 2px solid red; */
        text-align: start;
    }

    .contactContainerTop{
        flex-direction: column;
        text-align: start;
        /* border: 2px solid red; */
        margin-left: 40px;
    }

    .contactContainerBot{
        /* text-align: start; */
        /* border: 2px solid red; */
        margin-left: 40px;
    }

    .contactLink{
        margin: 0 0 10px 0px;
    }
}