.landingContainer{
    padding: 180px 0;
    text-align: center;
    /* background-color: lightcoral; */

    background: linear-gradient(-45deg, #ecc864, #e95f94, #3b98e4, #3fe4bd);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;
}

.landingTextContainer{
    /* border: 2px solid blue; */
    display: inline-block;
}

.landingTextGreeting{
    font-size: 170px;
    /* color: rgba(0, 0, 0, 0.9); */

}

.landingTextSub{
    float: left;
    font-size: 27px;
    color: white;
    margin-left: 7px;
}

.landingTextBtn{
    float: left;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 17px;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 35px 0 0 5px;
    border: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}