#MPTContainer{
    border: 2px solid red;
    display: inline-flex;
    /* width: 250px; */
    
}

#MPTImage{
    width: 300px;
}

#MPTTextContainer{
    border: 2px solid blue;
    width: 350px;
    margin: 10px;
}

#MPTTitle{
    border: 2px solid aqua;
    text-align: start;
    font-size: 60px;
}

#MPTInfo{
    border: 2px solid chocolate;
    text-align: start;
    font-size: 20px;


}

#MPTButton{
    border: 2px solid gold;
    /* text-align: start; */
    float: left;

}