#MPTContainer{
    /* border: 2px solid red; */
    display: inline-flex;
    /* width: 250px; */
    
}

#MPTImage{
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;

}

#MPTTextContainer{
    /* border: 2px solid blue; */
    width: 350px;
}

#MPTTitle{
    /* border: 2px solid aqua; */
    /* text-align: start; */
    float: left;
    font-size: 60px;
    /* margin: 10px; */
    margin: 15px 0 0 7px;
    display: inline-block;
}

#MPTInfo{
    /* border: 2px solid chocolate; */
    text-align: start;
    float: left;
    font-size: 20px;
    margin: 10px;


}

#MPTButton{
    float: left;
    width: 250px;
    margin-left: -7px;

}

/* classes for gradient colours, must be capitalised!! */
.Cascade {
    background: linear-gradient(to right, #800080 0%, #ec2f4b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}