.projectContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    /* background-image: linear-gradient(to right, rgb(206, 241, 255), white, white); */
    /* background-color: rgb(249, 255, 242); */

}

#projTitle{
    /* color: blue; */
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    /* background-color: rgb(249, 255, 242); */

}

.projectContainer + #projTitle{
    background-color: rgb(249, 255, 242);

}