.skillsContainer{
    /* border: 2px solid red; */
    /* background-image: linear-gradient(to right, rgb(206, 241, 255), white, white); */
    display: flex;
    padding-bottom: 20px;
    /* border-bottom: 1px solid black; */
    background-color: rgb(246, 252, 255);

}

.skillsTitle{
    /* border: 2px solid blue; */
    /* width: 40%;
    text-align: end;
    padding: 40px; */
    font-size: 50px;
    display: inline-block;

    background: linear-gradient(to right, #1b56d6 0%, #c6a8ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

#skillsTitleContainer{
    width: 40%;
    text-align: end;
    padding: 40px;
}

.skillsText{
    /* border: 2px solid green; */
    width: 60%;
    padding: 35px 140px 40px 40px;
    font-size: 21px;
    color: rgb(48, 48, 48);
}

.skillsIndicator{
    font-size: 20px;
}

/* badges */

/* front */
.badge-html {background-image: linear-gradient(135deg, #E44D26, #ff7b74); }
.badge-css {background-image: linear-gradient(135deg, #4776E6, #8E54E9); }
.badge-sass {background-image: linear-gradient(135deg, #7b0ddb, #DA22FF); }
.badge-bootstrap {background-image: linear-gradient(135deg, #622c88, #a044ff); }
.badge-js {background-image: linear-gradient(135deg, #F37335, #ffae00); }
.badge-ts {background-image: linear-gradient(135deg, #2F80ED, #56CCF2); }
.badge-react {background-image: linear-gradient(135deg, #2948ff, #85a4ff); }
.badge-angular {background-image: linear-gradient(135deg, #D31027, #eb4054); }
.badge-vue {background-image: linear-gradient(135deg, #18b6b1, #93EDC7); }

/* back */
.badge-firebase {background-image: linear-gradient(135deg, #FF4B2B, #FF416C); }
.badge-java {background-image: linear-gradient(135deg, #ED213A, #93291E); }
.badge-php {background-image: linear-gradient(135deg, #6347b3, #ad5389); }
.badge-node {background-image: linear-gradient(135deg, #0d7970, #38ef7d); }
.badge-python {background-image: linear-gradient(135deg, #2c832f, #9eec5d); }

/* other */
.badge-git {background-image: linear-gradient(135deg, #1c1f30, #536976); }
.badge-pwa {background-image: linear-gradient(135deg, #00229e, #0575E6); }
.badge-api {background-image: linear-gradient(135deg, #0f3443, #25b67a); }
.badge-studio {background-image: linear-gradient(135deg, #3a6186, #89253e); }
.badge-code {background-image: linear-gradient(135deg, #283c86, #45a247); }

.badgeFormat{
    border-radius: 2px;
    padding: 4px 6px;
    display: inline-block;
    font-size: 20px;
    color: white;
    margin: 0 5px 2px 0;
}

@media only screen and (max-width: 600px) {

    .skillsContainer{
        /* border: 2px solid red; */
        flex-direction: column;
        padding-bottom: 0;
    }

    #skillsTitleContainer{
        width: 100%;
        text-align: start;
        padding: 20px;
        padding-bottom: 0;
    }

    .skillsText{
        width: 100%;
        padding: 30px 40px 30px 20px;
    }
}