.skillsContainer{
    /* border: 2px solid red; */
    background-image: linear-gradient(to right, rgb(206, 241, 255), white, white);
    display: flex;
    padding-bottom: 50px;
}

.skillsTitle{
    /* border: 2px solid blue; */
    width: 40%;
    text-align: end;
    padding: 40px;
    font-size: 40px;
}

.skillsText{
    /* border: 2px solid green; */
    width: 60%;
    padding: 35px 140px 40px 40px;
    font-size: 21px;
    color: rgb(48, 48, 48);
}

/* badges */
.badge-html {background-image: linear-gradient(135deg, #ff3493, #ff7b74); }
  
.badge-css {background-image: linear-gradient(135deg, #4776E6, #8E54E9); }
  
.badge-sass {background-image: linear-gradient(135deg, rgb(115, 5, 211), #DA22FF); }
  
.badge-bootstrap {background-image: linear-gradient(135deg, #3f2b96, #8f94fb); }
  
.badge-php {background-image: linear-gradient(135deg, #3c1053, #ad5389); }
  
.badge-js {background-image: linear-gradient(135deg, #F37335, #ffae00); }
  
.badge-ts {background-image: linear-gradient(135deg, #2F80ED, #56CCF2); }
  
.badge-java {background-image: linear-gradient(135deg, #ED213A, #93291E); }
  
.badge-firebase {background-image: linear-gradient(135deg, #FF4B2B, #FF416C); }

.badge-xml {background-image: linear-gradient(135deg, #4286f4, rgb(102, 109, 124)); }
  
.badge-react {background-image: linear-gradient(135deg, #088076, #38ef7d); }
  
.badge-pwa {background-image: linear-gradient(135deg, #021B79, #0575E6); }
  
.badge-node {background-image: linear-gradient(135deg, #45a247, #2e58f1); }
    
.badge-go {background-image: linear-gradient(135deg, #26a0da, #71B280); }
  
.badge-python {background-image: linear-gradient(135deg, #45B649, rgb(188, 196, 52)); }

.badge-git {background-image: linear-gradient(135deg, #667571, rgb(4, 5, 4)); }
  
.badgeFormat{
    border-radius: 2px;
    padding: 4px 6px;
    display: inline-block;
    font-size: 15px;
    color: white;
    margin: 0 5px 2px 0;
}
  